/*...........education............*/
#edn{
    margin: 5px 10px .5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: coral; 
    border-radius: 15px;
}
.e-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 5px;
   justify-content: center;
  
}
.PG,
.UG,
.school{
    background-color: white;
    display: flex;  
    border: 2px solid darkcyan; 
}
.le{
    margin-top:30px ;
    display: flex;
    flex-direction: column;
}
.PG,
.UG,
.school{
    margin: 20px 10px 20px 10px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;  
}
.PG h2,h3,p{
    padding: 2px;
    align-items: center;
}
.PG img{
    width: 300px;
    height: 350px;
    border-radius: 10px 0 0 10px;
    border: 1.5px solid black;
}

.UG h2,h3,p{
    padding: 5px;
    align-items: center;
}
.UG h2{
    font-size: 30px;
}
.UG img{
    width: 300px;
    height:350px;
    border-radius: 10px  0  0 10px;
    border: 1.5px solid black;
}

.school h2,h3,p{
    padding: 5px;
    align-items: center;
}
.school img{
    width: 300px;
    height: 300px;
    border-radius: 10px 0  0 10px;
    border: 1.5px solid black;
    filter: brightness(1.5), drop-shadow(-.5);
}
@media screen and (min-width:990px) and (max-width:1440px) {
.PG img,
.UG img{
    height: 350px;
}
    
}
@media screen and (max-width:768px){
.PG,
.UG,
.school{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.PG img,
.UG img,
.school img{
    width: 295px;
    border-radius:  10px 10px 0  0  ;
}
}