@media only screen and (min-width:350px) and (max-width:480px) {
    html{
        overflow-x:hidden ;
    }
    body{
        overflow-x: hidden;
    }
    .button{
     --fs-size:1rem;
     font-size: var(--fs-size);
    }
    .navbar-nav li a{
     font-size: 18px;
    }
    .wel h2{
    font-size: 1.12rem;
    }
    .wel h1{
    font-size: 1.33rem;
    }
    .head h2{
     font-size: 19px;
    }
    .my-img{
     width: 270px;
    }
    .about-text p{
        padding: 0 20px 0 20px;
    }
    .wrapper{
        padding: 0 20px 0 20px;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .edu-container{
        padding: 0px 10px;
    }
    .edu{
        margin: 10px 0;
        padding: 10px 0;
        width: 300vh;
    }
    .edu img{
        width: 100%;
    }
    .mySlides{
        margin: 0;
    }
    .sk{
        width: 15vh;
    }
    .left{
        width: 500vh;
    }
    .right{
        margin-top: 20px;
        height: auto;        
        width: 25vh;
    }
    .right h2{
        font-size: 1.2rem;
    }
    .right a{
        font-size: 1rem;
    }
  }
  @media only screen and (max-width:768px) {
    html{
        overflow-x:hidden ;
    }
    body{
        overflow-x: hidden;
    }
     .button{
         --fs-size:1.2em;
         font-size: var(--fs-size);
        }
        .navbar-nav li a{
         font-size: 20px;
        }
        .wel h2{
          font-size: 1.3rem;
        }
        .wel h1{
          font-size: 1.6rem;
        }
        .head h2{
         font-size: 30px;
        }
        .my-img{
         width: 300px;
        }
  }